<div class="page-body">
    <div class="row">
      <div class="col-sm-12">
      <h3 class="text-center">{{title}}</h3>
        <br><br>
        <div align="center" *ngIf="htmlcode === false"><i class="fa fa-refresh fa-spin fa-5x fa-fw"></i></div>
        <div *ngIf="htmlcode === true"> 
      <app-card [title]="' '" *ngIf="tx_privacy_settings === 'private'">        
        <div class="table-responsive" *ngIf="txsearchresultshtml == true">
          <table class="table table-inverse">
            <thead>
            <tr>
              <th class="text-light">#</th>
              <th class="text-light">TX Hash</th>
              <th class="text-light">Ring Size</th>
              <th class="text-light">Date and Time</th>
              <th class="text-light">Fee</th>
              <th class="text-light">Size</th>
              <th class="text-light">Payment ID Settings</th>
              <th class="text-light">Privacy Settings</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of tx_data_array">
              <td class="text-light">{{item._id}}</td>
              <td><a style="color:#8af1f0;" [routerLink]="['/Transaction']" [queryParams]="{'data':item.tx}">{{item.tx}}</a></td>
              <td class="text-light">{{item.tx_ringsize}}</td>
              <td class="text-light">{{item.tx_timestamp * 1000 | date:'MMM d, y, h:mm:ss a'}}</td>
              <td class="text-light">{{item.tx_fee}}</td>
              <td class="text-light">{{item.tx_size}}</td>
              <td class="text-light" >{{item.tx_paymentid_settings}}</td>
              <td class="text-light">{{item.tx_privacy_settings}}</td>
            </tr>                
            </tbody>
          </table>
        </div>
        </app-card>

        <app-card [title]="public_tx_sender_data_title" *ngIf="tx_privacy_settings === 'public'">        
          <div class="table-responsive" *ngIf="txsearchresultshtml == true">
            <table class="table table-inverse">
              <thead>
              <tr>
                <th class="text-light">#</th>
                <th class="text-light">TX Hash</th>
                <th class="text-light">Ring Size</th>
                <th class="text-light">Date and Time</th>
                <th class="text-light">Fee</th>
                <th class="text-light">Size</th>
                <th class="text-light">Payment ID Settings</th>
                <th class="text-light">Receiver</th>
                <th class="text-light">Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of public_tx_sender_data_array">
                <td class="text-light">{{item._id}}</td>
                <td><a style="color:#8af1f0;" [routerLink]="['/Transaction']" [queryParams]="{'data':item.tx}">{{item.tx}}</a></td>
                <td class="text-light">{{item.tx_ringsize}}</td>
                <td class="text-light">{{item.tx_timestamp * 1000 | date:'MMM d, y, h:mm:ss a'}}</td>
                <td class="text-light">{{item.tx_fee}}</td>
                <td class="text-light">{{item.tx_size}}</td>
                <td class="text-light">{{item.tx_paymentid_settings}}</td>
                <td><a style="color:#8af1f0;" [routerLink]="['/TXSearchResults']" [queryParams]="{'data':'public_address|' + item.tx_receiver}">{{item.tx_receiver}}</a></td>
                <td class="text-light">{{item.tx_amount}}</td>
              </tr>                
              </tbody>
            </table>
          </div>
          </app-card>

          <app-card [title]="public_tx_receiver_data_title" *ngIf="tx_privacy_settings === 'public'">        
            <div class="table-responsive" *ngIf="txsearchresultshtml == true">
              <table class="table table-inverse">
                <thead>
                <tr>
                  <th class="text-light">#</th>
                  <th class="text-light">TX Hash</th>
                  <th class="text-light">Ring Size</th>
                  <th class="text-light">Date and Time</th>
                  <th class="text-light">Fee</th>
                  <th class="text-light">Size</th>
                  <th class="text-light">Payment ID Settings</th>
                  <th class="text-light">Sender</th>
                  <th class="text-light">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of public_tx_receiver_data_array">
                  <td class="text-light">{{item._id}}</td>
                  <td><a style="color:#8af1f0;" [routerLink]="['/Transaction']" [queryParams]="{'data':item.tx}">{{item.tx}}</a></td>
                  <td class="text-light">{{item.tx_ringsize}}</td>
                  <td class="text-light">{{item.tx_timestamp * 1000 | date:'MMM d, y, h:mm:ss a'}}</td>
                  <td class="text-light">{{item.tx_fee}}</td>
                  <td class="text-light">{{item.tx_size}}</td>
                  <td class="text-light">{{item.tx_paymentid_settings}}</td>
                  <td><a style="color:#8af1f0;" [routerLink]="['/TXSearchResults']" [queryParams]="{'data':'public_address|' + item.tx_sender}">{{item.tx_sender}}</a></td>
                  <td class="text-light">{{item.tx_amount}}</td>
                </tr>                
                </tbody>
              </table>
            </div>
            </app-card>
            </div>
      </div>
    </div>
  </div>
  