[Unit]
Description=restarts the x-cash angularjs blockchain explorer

[Service]
Environment=NODE_PORT=8000
Type=simple
User=root
ExecStart=/root/x-network/node-v13.2.0-linux-x64/bin/node --max-old-space-size=8192 /root/x-network/xcash_angularjs_block_explorer/xcash_api/nodejs.js
Restart=always

[Install]
WantedBy=multi-user.target