h5,h6{color:#1189a5;}
h1,h2,h3{color:#fa741c;}
a{
  color:#1189a5;
  overflow-wrap: anywhere;
}
.card .card-header h5 {
    font-size: 28px;
    margin-left: 10px;
}
.card p {
    font-size: 16px;
    font-weight: bold;
}
.notify-cont{
  padding: 5px 0;
}
