<div class="page-body">
    <div class="row">
      <div class="col-sm-12">
      <h2 class="text-center" >X-CASH Statistics</h2>
        <br><br>
        <div align="center" *ngIf="htmlcode === false"><i class="fa fa-refresh fa-spin fa-5x fa-fw"></i></div>
        <div *ngIf="htmlcode === true">
        <app-card [title]="'X-CASH Data'">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                  <div class="card bg-primary notification-card">
                    <div class="card-block text-dark">
                      <div class="row align-items-center">
                          <div class="col-2 notify-icon"><i class="fa fa-bars"></i></div>
                        <div class="col-10 notify-cont">
                            <h5>Algorithm</h5>
                            <br>
                          <h4>{{blockchain_algorithm}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="card bg-primary notification-card">
                    <div class="card-block text-dark">
                      <div class="row align-items-center">
                          <div class="col-2 notify-icon"><i class="fa fa-cubes"></i></div>
                        <div class="col-10 notify-cont">
                            <h5>Block Height</h5>
                            <br>
                          <h4>{{block_height | number}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-primary notification-card">
                      <div class="card-block text-dark">
                        <div class="row align-items-center">
                            <div class="col-2 notify-icon"><i class="fa fa-clock-o"></i></div>
                          <div class="col-10 notify-cont">
                              <h5>Block Time</h5>
                              <br>
                              <h4>5 Minutes</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-3">
                      <div class="card bg-primary notification-card">
                        <div class="card-block text-dark">
                          <div class="row align-items-center">
                              <div class="col-2 notify-icon"><i class="fa fa-database"></i></div>
                            <div class="col-10 notify-cont">
                                <h5>Current Block Reward</h5>
                                <br>
                              <h4>{{block_reward | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
             </div>
          </app-card>

      <app-card [title]="'X-CASH Supply Statistics'">
          <div class="row">
              <div class="col-md-6 col-xl-4">
                <div class="card bg-primary notification-card">
                  <div class="card-block text-dark">
                    <div class="row align-items-center">
                        <div class="col-2 notify-icon"><i class="fa fa-database"></i></div>
                      <div class="col-10 notify-cont">
                          <h5>Maximum Supply</h5>
                          <br>
                        <h4>100,000,000,000</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xl-4">
                  <div class="card bg-primary notification-card">
                    <div class="card-block text-dark">
                      <div class="row align-items-center">
                          <div class="col-2 notify-icon"><i class="fa fa-dashboard"></i></div>
                        <div class="col-10 notify-cont">
                            <h5>Generated Supply</h5>
                            <br>
                          <h4>{{generated_supply | number}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="card bg-primary notification-card">
                      <div class="card-block text-dark">
                        <div class="row align-items-center">
                            <div class="col-2 notify-icon"><i class="fa fa-refresh"></i></div>
                          <div class="col-10 notify-cont">
                              <h5>Circulating Supply</h5>
                              <br>
                            <h4>{{circulating_supply | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
           </div>
        </app-card>

        <!-- <app-card [title]="'X-CASH Mining Statistics'">
            <div class="row">


                <div class="col-md-6 col-xl-4">
                    <div class="card bg-primary notification-card">
                      <div class="card-block text-dark">
                        <div class="row align-items-center">
                            <div class="col-2 notify-icon"><i class="fa fa-cube"></i></div>
                          <div class="col-10 notify-cont">
                              <h5>Difficulty</h5>
                              <br>
                            <h4>{{current_blockchain_difficulty | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-4">
                      <div class="card bg-primary notification-card">
                        <div class="card-block text-dark">
                          <div class="row align-items-center">
                              <div class="col-2 notify-icon"><i class="fa fa-dashboard"></i></div>
                            <div class="col-10 notify-cont">
                                <h5>HashRate</h5>
                                <br>
                              <h4>{{current_blockchain_hashrate}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
             </div>
          </app-card> -->


          <!-- <app-card [title]="network_hashrate_chart_title" >
            <div class="row">
                <div class="col-md-6 col-xl-12">
                    <div align="center" *ngIf="htmlcodechart === false"><i class="fa fa-refresh fa-spin fa-5x fa-fw"></i></div>
                <div id="network_hashrate_chart"></div>
              </div>
            </div>
         </app-card> -->

          <app-card [title]="'X-CASH Blockchain Data Statistics'">
              <div class="row">

                  <div class="col-md-6 col-xl-4">
                      <div class="card bg-primary notification-card">
                        <div class="card-block text-dark">
                          <div class="row align-items-center">
                              <div class="col-2 notify-icon"><i class="fa fa-lock"></i></div>
                            <div class="col-10 notify-cont">
                                <h5>Total Private Transactions</h5>
                                <br>
                              <h4>{{private_tx_count | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                      <div class="card bg-primary notification-card">
                        <div class="card-block text-dark">
                          <div class="row align-items-center">
                              <div class="col-2 notify-icon"><i class="fa fa-unlock"></i></div>
                            <div class="col-10 notify-cont">
                                <h5>Total Public Transactions</h5>
                                <br>
                              <h4>{{public_tx_count | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="card bg-primary notification-card">
                          <div class="card-block text-dark">
                            <div class="row align-items-center">
                                <div class="col-2 notify-icon"><i class="fa fa-cloud"></i></div>
                              <div class="col-10 notify-cont">
                                  <h5>Estimated Size of the Blockchain</h5>
                                  <br>
                                <h4>{{current_estimated_blockchain_size}}</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
               </div>
            </app-card>

            <!-- <app-card [title]="'X-CASH Blockchain Current Version Statistics'">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                      <div class="card bg-primary notification-card">
                        <div class="card-block text-dark">
                          <div class="row align-items-center">
                              <div class="col-2 notify-icon"><i class="fa fa-tag"></i></div>
                            <div class="col-10 notify-cont">
                                <h5>Current Version</h5>
                                <br>
                              <h4>{{blockchain_current_version}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="card bg-primary notification-card">
                          <div class="card-block text-dark">
                            <div class="row align-items-center">
                                <div class="col-2 notify-icon"><i class="fa fa-cubes"></i></div>
                              <div class="col-10 notify-cont">
                                  <h5>Current Version Block Height</h5>
                                  <br>
                                <h4>{{blockchain_current_version_block_height | number}}</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-xl-4">
                          <div class="card bg-primary notification-card">
                            <div class="card-block text-dark">
                              <div class="row align-items-center">
                                  <div class="col-2 notify-icon"><i class="fa fa-calendar"></i></div>
                                <div class="col-10 notify-cont">
                                    <h5>Current Version Date (DD/MM/YYYY)</h5>
                                    <br>
                                  <h4>{{blockchain_current_version_date}}</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                 </div>
              </app-card> -->

              <!-- <app-card [title]="'X-CASH Blockchain Next Version Statistics'">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                      <div class="card bg-primary notification-card">
                        <div class="card-block text-dark">
                          <div class="row align-items-center">
                              <div class="col-2 notify-icon"><i class="fa fa-tag"></i></div>
                            <div class="col-10 notify-cont">
                                <h5>Next Version</h5>
                                <br>
                              <h4>{{blockchain_next_version}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="card bg-primary notification-card">
                          <div class="card-block text-dark">
                            <div class="row align-items-center">
                                <div class="col-2 notify-icon"><i class="fa fa-cubes"></i></div>
                              <div class="col-10 notify-cont">
                                  <h5>Next Version Block Height</h5>
                                  <br>
                                <h4>{{blockchain_next_version_block_height | number}}</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-xl-4">
                          <div class="card bg-primary notification-card">
                            <div class="card-block text-dark">
                              <div class="row align-items-center">
                                  <div class="col-2 notify-icon"><i class="fa fa-calendar"></i></div>
                                <div class="col-10 notify-cont">
                                    <h5>Next Version Estimated Date (DD/MM/YYYY)</h5>
                                    <br>
                                  <h4>{{blockchain_next_version_estimated_date}}</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                 </div>
              </app-card> -->


              </div>
      </div>
    </div>
  </div>
